.botao{
    font-size: 15px;
    background-color: lightskyblue;
    color: rgb(62, 62, 238);
    border-radius: 10px;
    width: 120px;
    height: 70px;
}

.caixaDeTexto
{
    width: 250px;
    height: 50px;
    border-style: dashed;
    border-color: black;
    background-color: aliceblue;
    font-size: 25px;
}

h1{
    color: white;
}

body
{
    background-color: rgba(101, 13, 64);
}